/* Default styles */
*{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    boxing-size: border-box;



body {
    background: rgba(0, 0, 0, 0.5) url('https://github.com/JasonMokgweng50/First-webpage/blob/main/JayMotorsJDM's(Gimpedit).png?raw=true') center center fixed;
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
}

header {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: white;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Media Queries for responsive layout */
@media screen and (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    nav a {
        font-size: 14px;
    }
}
